# Build directories
cmake-build-*/
build/
*.egg-info/
_build/

# Build Cython sources
*.so
*.pyd
src/biperscan/*.cpp
src/biperscan/**.cpp

# Editor configurations
.idea/
.vscode/
*.code-workspace

# Caches
__pycache__/
.pytest_cache/
.ipynb_checkpoints/